[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.15"
mysqlclient = "*"
pillow = "*"

[requires]
python_version = "3.7"
