body {
    margin-top: 75px;
}

footer {
    margin: 20px 0px;
    font-weight: bolder;
}

#comments li {
    list-style: none;
}

#comments,
#comments li {
    margin: 0;
    padding: 0;
}

.social-buttons button {
    margin-top: 10px;
}

a.logo-link{
    display: inline-block;
    margin-right: -130px;
    margin-top: 2px;
}
.logo-link img{
    width: 50%;
}